<html>
<head>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=GHKRdV8dzqkiDNUB7CPCEByLaqNDkHFVR9OugYm76-5luYta-gQfzTita4g3oLuAMRlgccXtExmmtjbxsDD9LEL7eBIvNaPLmVoCtfFmM5lAzHW8dPIDBEnWmci_gTu1zZ_WIqL2_CSuEMNl2SK3x5j4k6Hyogc6BLYfjOoMHLo" charset="UTF-8"></script><style> body {background-color: #CAD9F6;}</style>
    <style> html, body, a, a:hover { cursor:url('https://66.media.tumblr.com/889aed635411584a8588c52bcae6f9b3/tumblr_inline_p7ioz4WkdF1slmd9l_540.png'), auto !important; }</style>
    <div><a style="position:fixed;z-index:9 !important;top:300px;left:3px;" ></a></div>

    <body>
        <form action ="{{ url_for('addlogin') }}" method ="POST">
            <h1>Sign Up</h1>
            <p> Username: <input type ="text" name ="username" /> </p>
            <p> Password: <input type ="text" name ="password" /> </p>
            <p> <input type ="submit" value ="submit" /><br> </p>
        </form>
        <a href = "/">Return to main page</a>
    </body>
</head>
</html>